.project-menu {
    width: 200px;
    padding: 1rem;
    background-color: #f4f4f4;
    height: 100vh;
    overflow-y: auto;
}

.project-menu.loading,
.project-menu.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.project-menu h3 {
    margin-top: 0;
}

.project-menu ul {
    list-style: none;
    padding: 0;
}

.project-menu li button {
    background: none;
    border: none;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.project-menu li button:hover {
    background-color: #e0e0e0;
}
